extends ../../layouts/app
block title
    #{title}
block content
    article
        div.container
            div.row
                div(class="eight columns")
                    div.content
                        h2= title
                        mixin post-card(post)
                            div.post-card
                                a(href=post.url)
                                h2.post-title= post.title
                                img.post-poster(src=post.posterImage)
                                h3 Authors
                                ul.cast
                                    each author in post.authors
                                        li= author
                                div.rating
                                    if post.rating > 5
                                        img(src="/images/thumbsup.png")
                                    else
                                        img(src="/images/thumbsdown.png")
                                ul.category
                                    each category in post.categories
                                        li= category

                        hr
                        for post in posts
                            +post-card(post)
                div(class="four columns")
                    include ../../layouts/shared/aside        

